node_modules/
.idea/
.yarn/
config/env.local
src/services/db/**/prisma/client/
wiki/
src/Mixins/DB/prisma/client/
src/Mixins/DB/prisma/migrations/
src/Mixins/DB/prisma/db.sqlite*
src/Mixins/DB/test-model.service.ts